{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="icon" href="{% static 'img/favicon.ico' %}">
<title>PenPirate</title>


<header>
    <h1>
        PenPirate
    </h1>
    <div class="menu">
        <div class="item">
            <a href="{% url 'index' %}">
                Home
            </a>
        </div>
        <div class="item">
            <a href="{% url 'tool:index' %}">
                Creator
            </a>
        </div>
        <div class="item">
            <a href="https://github.com/MieskeB/penpirateapi" target="_blank">
                Source
            </a>
        </div>

        <div class="item right">
            <a href="{% url 'user:login' %}">
                Login
            </a>
        </div>
        <div class="item right">
            <a href="{% url 'user:register' %}">
                Register
            </a>
        </div>
        <div class="item right">
            <a href="{% url 'user:index' %}">
                DEBUG: USERS
            </a>
        </div>
    </div>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    PenPirate @ 2021
</footer>