@font-face {
    font-family: 'Linebeam';
    src: url("/static/Linebeam.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Linebeam, sans-serif;
}

a {
    text-decoration: none;
    color: #20c20e;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 55px;
}

input {
    font-size: 20px;
}

textarea, input {
    background-color: #1d1d1d;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    border: none;
}

textarea:focus, input {
    outline: none;
}

.tool-content textarea {
    width: 100%;
    height: 100%;
}

html {
    background-color: #252525;
    color: #20c20e;
}

header {
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    font-size: 35px;
    padding: 30px 1vw;
    box-shadow: 0 0 15px 15px #3a3a3a;
}

header > h1 {
    font-size: 55px;
    font-weight: bold;
    padding-right: 5vw;
}

header > .menu {
    display: flex;
}

header > .menu > .item {
    padding-left: 1vw;
    padding-right: 1vw;
}

main {
    margin: 5vh 10vw;
    color: white;
    font-size: 29px;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.home-content > * {
    margin-bottom: 20px;
}

.tool-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1d1d1d;
    box-shadow: 13px 13px 5px #141414b0;
    border-radius: 10px;
    height: 60vh;
}

.tool-content > .tool-sidebar {
    flex-grow: 1;
    border-right: 5px dotted #252525;
}

.tool-content > .tool-code {
    flex-grow: 3;
    margin: 20px;
    padding: 15px;
}

main a {
    background-color: #1d1d1d;
    text-align: center;
    justify-content: center;
    color: white;
}

.home-content a, .user-content a, .user-content input[type=submit] {
    border-radius: 10px;
    padding: 30px 64px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    width: 20vw;
    border: none;
}

.home-content a:hover, .user-content a:hover, .user-content input[type=submit]:hover {
    transform: translate(-7px, -7px);
    box-shadow: 13px 13px 5px #141414b0;
    border: 1px solid #505050;
}

.tool-content a {
    width: 100%;
    height: 10vh;
    display: inline-block;
    border-bottom: 5px dotted #252525;
    align-content: center;
}

.tool-content a:hover {
    border-bottom: 5px solid #252525;
}

.tool-content .active {
    color: #20c20e;
}

.user-content > * > * {
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    box-shadow: 0 0 15px 15px #3a3a3a;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #3a3a3a;
    padding: 30px 1vw;
    margin-top: auto;
    font-size: 20px;
}